<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.company.sticksnsushi">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".infrastructure.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.NavDrawerActivity" />
        <activity android:name=".activities.WelcomeActivity"/>
        <activity android:name=".activities.ConfirmationActivity"
            android:parentActivityName=".activities.MenuOverviewActivity" />
        <activity android:name=".activities.SpecificDishActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.SignUpActivity" />
        <activity android:name=".activities.CartActivity" />
        <activity android:name=".activities.CheckoutActivity" android:configChanges="orientation|screenSize"/>

        <activity
            android:name=".activities.MenuOverviewActivity"
            android:label="@string/title_activity_menu_overview" />
        <activity
            android:name=".activities.ProfileActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ca7ebe61a093b2b307fd35b1e2292088ad44f7b5" />

    </application>

</manifest>